<div ng-controller="gameController">
  <div class="waiting" ng-if="!playing && !win && !lose">
    <p>Waiting...</p>
  </div>
  <div class="gameLose" ng-if="lose"><p>YOU LOSE</p><button ng-click="restart()">Restart?</button></div>
  <div class="gameWon" ng-if="win"><p>YOU WIN</p><button ng-click="restart()">Restart?</button></div>
  <div class="playing" ng-if="playing && !win && !lose">
    <header class="game-header">
      <div>
        <p>Current Level</p>
        <p class='number'>{{ level }}</p>
      </div>
      <div>
        <p>Total Score</p>
        <p class='number'>{{ score }}</p>
      </div>
      <div>
        <p>Time Left</p>
        <p class='number'>{{ timeLimit }}</p>
      </div>
    </header>
    <div>
      <p id="gameContent" class="noselect">{{ challenge }}</p>
      <form>
        <textarea ui-codemirror="{onLoad: codemirrorLoaded}" ui-codemirror-opts="editorOptions"
          cols="60" rows="10" ng-disabled="gameOver"></textarea>
        <span ng-if="showMessage">{{ submitMessage }}</span>
      </form>
    </div>
  </div>
</div>
